<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% load account %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frost Library | Confirm E-mail Address</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/nicepage.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>

    <section class="u-clearfix u-section-1" id="sec-6d66">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix  u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-center-sm u-align-center-xs u-container-style u-layout-cell u-shape-rectangle u-white u-layout-cell-2">
                            <div class="u-container-layout u-valign-middle u-container-layout-2">
                                <h3 class="u-align-center-lg u-align-center-md u-align-center-xl u-text u-text-default u-text-1">{% trans "Confirm E-mail Address" %}</h3>
                                <div class="u-expanded-width-xs u-form u-login-control u-form-1">
                                    {% if confirmation %}

                                    {% user_display confirmation.email_address.user as user_display %}

                                    <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>

                                    <form method="post" action="{% url 'account_confirm_email' confirmation.key %}" class="myForm">
                                        {% csrf_token %}
                                        <button class="btn btn-primary" type="submit">{% trans 'Confirm Email' %}</button>
                                    </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% block javascript %}
    <link rel="stylesheet" href="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}">
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/nicepage.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    {% endblock javascript %}
</body>

</html>