<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frost Library | Log In</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/nicepage.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>

    <section class="u-clearfix u-section-1" id="sec-6d66">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix  u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-center-sm u-align-center-xs u-container-style u-layout-cell u-shape-rectangle u-white u-layout-cell-2">
                            <div class="u-container-layout u-valign-middle u-container-layout-2">
                                <h3 class="u-align-center-lg u-align-center-md u-align-center-xl u-text u-text-default u-text-1">Welcome Back</h3>
                                <div class="u-expanded-width-xs u-form u-login-control u-form-1">
                                    <form method="post" class="u-clearfix u-form-custom-backend u-form-spacing-15 u-form-vertical u-inner-form" name="form-3">
                                        <div class="u-form-group u-form-name">
                                            {% csrf_token %}
                                            {{ form.as_p }}
                                            <input type="submit" value="LOGIN" name="recaptchaResponse">
                                        </div>
                                    </form>
                                </div>
                                <a href="{% url 'account_signup' %}" class="u-border-1 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-btn u-button-style u-login-control u-login-forgot-password u-none u-text-palette-1-base u-btn-2">Don't have an account?</a>
                                <a href="{% url 'account_reset_password' %}" class="u-border-1 u-border-active-palette-1-base u-border-hover-palette-1-base u-btn u-button-style u-login-control u-border-no-left u-border-no-right u-border-no-top u-login-forgot-password u-none u-text-palette-1-base u-btn-3">Forgot password?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% block javascript %}
    <link rel="stylesheet" href="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}">
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/nicepage.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    {% endblock javascript %}
</body>

</html>