<header>
    <h2><a href="{% url 'home' %}">Frost Library</a></h2>
    <nav class="topnav" id="myTopnav">
        {% if user.is_authenticated %}
        <a href="{% url 'dashboard' %}">Dashboard</a>
        <a href="{% url 'account_logout' %}">Log Out</a>
        {% else %}
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'book_list' %}">Books</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'contact' %}">Contact</a>
        <a href="{% url 'account_login' %}">Log In</a>
        <a href="{% url 'account_signup' %}">Sign Up</a>
        {% endif %}
    </nav>
    <a href="javascript:void(0);" class="icon" style="color: white; border:none; text-decoration: none;">&#9776;</a>
</header>