<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frost Library | {{ user.username }} || Dashboard</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/nicepage.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
    <header>
        <h2><a href="{% url 'home' %}">Frost Library</a></h2>
        <nav class="topnav" id="myTopnav">

        </nav>
        <a href="javascript:void(0);" class="icon" style="color: white; border:none; text-decoration: none;">&#9776;</a>
    </header>

    <h2><a href="{% url 'account_reset_password' %}">reset password </a></h2>
    <h2><a href="{% url 'account_change_password' %}">Change Password </a></h2>
    <h2><a href="{% url 'account_email_verification_sent' %}">Confirm Email </a></h2>
    <h2><a href="{% url 'account_email' %}">Email </a></h2>

    {% block javascript %}
    <link rel="stylesheet" href="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}">
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/nicepage.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    {% endblock javascript %}
</body>

</html>